<div class="navbar">
    <div class="logo"></div>
    <ul class="menu-items">
        <!-- <li></li> -->
        <!-- <a href="">
            <li>Log Out</li>
        </a> -->
    </ul>
</div>
<!-- //Nav -->
<div style="height: 89px;"></div>
<!-- Step tracker -->
<div class="step-tracker">
    <span class="step-back">
        &nbsp;
        <!-- <span class="back-icon">&#9668;</span> Back -->
    </span>
    <span class="step-count">2/5</span>
    <span class="progress-container"></span>
    <span class="progress-bar" style="width:{{stepProgress}}%;"></span>
    <span class="current-step" style="left:{{stepProgress}}%">FATCA Details</span>
</div>
<!-- // Step tracker -->
<div style="position: relative;width: 89%;max-width: 900px;margin: 34px auto;text-align: center;background: #FFF;padding: 34px 0 34px;box-sizing: border-box;">
    <h2>Please provide your FATCA details.</h2>
    <p class="center" style="margin-bottom: 21px;">Scroll down to know more about FATCA.</p>
    <!-- Email -->
    <div class="container">
        <div class="label">E-Mail ID:
            <span class="error">{{formData.Error.email}}</span>
        </div>
        <input type="text" class="text-box" name="email" placeholder="E-Mail ID" ng-model="formData.email"/>
    </div>
    <!-- DOB -->
    <div class="container">
        <div class="label">Date Of Birth (DD/MM/YYYY)
            <span class="error">{{formData.Error.dob}}</span>
        </div>
        <input type="date" class="text-box" name="dob" placeholder="DD/MM/YYYY" ng-model="formData.dobObj" max="1999-12-31" min="1960-01-01" />
    </div>
    <!--  -->
    <div class="container">
        <div class="label">Place of Birth
            <span class="error">{{formData.Error.birthState}}</span>
        </div>
        <md-select class="" ng-model="formData.birthState" id="birthState">
            <md-option ng-value="code" ng-repeat="(code, desc) in enum.birthState">{{desc}}</md-option>
        </md-select>
    </div>
    <!--  -->
    <div class="container">
        <div class="label">TAX Status
            <span class="error">{{formData.Error.taxStatus}}</span>
        </div>
        <input type="text" class="text-box" name="taxStatus" placeholder="Individual" ng-model="formData.taxStatus" disabled="disabled" />
    </div>
    <!--  -->
    <div class="container">
        <div class="label">Salary Slab
            <span class="error">{{formData.Error.salarySlab}}</span>
        </div>
        <md-select class="" ng-model="formData.salarySlab" id="salarySlab">
            <md-option ng-value="code" ng-repeat="(code, salary) in enum.salarySlab">{{salary}}</md-option>
        </md-select>
    </div>
    <!--  -->
    <div class="container">
        <div class="label">Occupation
            <span class="error">{{formData.Error.occupation}}</span>
        </div>
        <md-select class="" ng-model="formData.occupation" id="occupation">
            <md-option ng-value="code" ng-repeat="(code, desc) in enum.occupation">{{desc}}</md-option>
        </md-select>
    </div>
    <!--  -->
    <div class="container">
        <div class="label">Political Status
            <span class="error">{{formData.Error.pep}}</span>
        </div>
        <md-select class="" ng-model="formData.pep" id="pep">
            <md-option ng-value="code" ng-repeat="(code, desc) in enum.pep">{{desc}}</md-option>
        </md-select>
    </div>
    <div class="container">
        <div class="label">
            <span class="error"></span>
        </div>
    </div>
    <!--  -->
    <div class="hr" style="margin: 34px auto; width: 81%;"></div>
    <h2 style="margin: 0 auto;">Bank Details.</h2>
    <p class="center" style="width: 540px;">
        Please provide a correct bank account, because when you withdraw you money, the money will be directly deposited into this bank account.
    </p>
    <div style="height: 34px;"></div>
    <div class="container">
        <div class="label">Bank Account Type
            <span class="error">{{formData.Error.accountType}}</span>
        </div>
        <md-select class="" ng-model="formData.accountType" id="accountType">
            <md-option ng-value="code" ng-repeat="(code, desc) in enum.accountType">{{desc}}</md-option>
        </md-select>
    </div>
    <!--  -->
    <div class="container">
        <div class="label">Bank Account Number
            <span class="error">{{formData.Error.bankAcc}}</span>
        </div>
        <input type="text" class="text-box" name="bankAcc" placeholder="" ng-model="formData.bankAcc" />
    </div>
    <!--  -->
    <div class="container">
        <div class="label">Bank IFSC
            <span class="error">{{formData.Error.ifsc}}</span>
        </div>
        <input type="text" class="text-box" name="ifsc" placeholder="" ng-model="formData.ifsc" ng-change="getIFSC()" />
    </div>
    <!--  -->
    <div class="container">
        <div class="label" ng-show="formData.bankDetails.IFSC">Bank: {{formData.bankDetails.BANK}}</div>
        <div class="text-box" style="padding:0; overflow: hidden; border: none; background-color: transparent; text-align: left; font-size: 12px;" ng-show="formData.bankDetails.IFSC">
            {{formData.bankDetails.BRANCH}}
        </div>
    </div>
    <!--  -->
    <div class="label" style="margin-top: 34px;">
        <span class="error">{{formData.Error.agree}}</span>
    </div>
    <md-checkbox ng-model="formData.agree" id="agree">
        I acknowledge and confirm that the information provided above is true and correct to the best of my knowledge and belief. I hereby authorize PaisaSavvy (Anaglyph Advisory Services Pvt Ltd) to disclose, share, remit in any form, mode or manner, all / any of the information provided by me, to Mutual Fund Houses and Asset Management Companies.
    </md-checkbox>
    <!--  -->
    <div class="label" style="margin: 34px auto 21px; text-align: center;">
        <span class="error">{{formData.Error.common}}</span>
    </div>
    <br>
    <!--  -->
    <button class="main-cta-btn pink" ng-click="validate()" ng-hide="loading"> Submit FATCA Details </button>
    <!--  -->
    <div class="main-cta-btn pink"  ng-show="loading">
        <div class="loading">
            <span class="a"></span><span class="b"></span><span class="c"></span>
        </div>
    </div>
</div>
<!-- - -->
<p style="margin: 34px auto 0px;">
    <b>Q: Why do we need your Bank Account details?</b>
    <br/>
    <br/>
    A: We're collecting your bank account details because when you withdraw you money, the money will be directly deposited into this bank account. Don't worry all data collection is completely safe and encrypted.
</p>
<div class="hr" style="margin: 34px auto; width: 89%;"></div>
<p class="">
    <b>Q: What is FATCA and why are we collection these details?</b>
    <br/>
    <br/>
    FATCA stands for the Foreign Account Tax Compliance Act. It is a new piece of legislation to help counter tax evasion in the US. Introduced by the United States Department of Treasury (Treasury) and the US Internal Revenue Service (IRS), the purpose of FATCA is to encourage better tax compliance by preventing US persons from using banks, Mutual Funds and other financial organizations to avoid US taxation on their income and assets.
    <br/>
    We are collecting FATCA information from you, on behalf of the mutual funds where you invest, to confirm the FATCA status and where necessary we may have to contact you for further information and documentation.
</p>
<!-- - -->
<div style="height: 89px;"></div>
<!-- STYLE -->
<style type="text/css">
@import url("styles/card.css");

html {
    height: 100%;
    width: 100%;
    background-color: #F5F6FA;
}

body {
    margin: 0px auto;
    padding: 0px;
    height: 100%;
    width: 100%;
    max-width: 1000px;
    font-family: Raleway, 'Open Sans', Helvetica, Tahoma, Verdana, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-variant-ligatures: no-common-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "lnum" 1, "salt" 0;
    -webkit-font-feature-settings: "lnum" 1, "salt" 0;
    letter-spacing: .8px;
    background-color: transparent;
}

body>.ng-scope {
    position: relative;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
a:hover {
    text-decoration: none;
    color: #2196F3;
    cursor: pointer;
}

a.disabled {
    opacity: .34;
    pointer-events: none;
}

.navbar {
    position: relative;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 55px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    background-color: rgba(255,255,255,.92);
    z-index: 1;
    overflow: hidden;
}

.navbar > .logo {
    display: inline-block;
    margin-left: 60px;
    height: 60px;
    width: 100px;
    background-image: url(assets/logo-100px-E91E63.png);
    background-repeat: no-repeat;
    background-position: left center;
    vertical-align: middle;
    opacity: .7;
}

.navbar .menu-items {
    position: absolute;
    display: block;
    top: 60px;
    right: 0px;
    width: 400px;
    height: 55px;
    line-height: 55px;
    margin: -60px auto 0;
    padding: 0;
    list-style-type: none;
    vertical-align: middle;
}

.navbar .menu-items li {
    float: left;
    margin: 0px 10px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .34px;
    color: #2196F3;
    color: #1976D2;
    color: #212121;
    color: #E91E63;
    cursor: pointer;
}

.navbar .menu-items li:hover {
    color: #212121;
}
.hr {
    width: 80%;
    height: 1px;
    max-width: 1100px;
    margin: 0px auto;
    background-color: #CFD8DC;
}
/* ----- -------- */
.container {
    display: inline-block;
    width: 48%;
    max-width: 400px;
    vertical-align: middle;
}
.text-box {
    display: block;
    height: 44px;
    line-height: 44px;
    width: 80%;
    max-width: 500px;
    margin: 0px auto 0;
    padding: 0px 21px;
    color: #263238;
    font-size: 14px;
    border: 1px solid #CFD8DC;
    border-radius: 3px;
    background: transparent;
    outline: none;
    box-sizing: border-box;
    background: #F6F7F9;
}
.text-box.disabled {
    color: #9E9E9E;
}
.label {
    width: 80%;
    max-width: 500px;
    line-height: 16px;
    margin: 13px auto 0px;
    font-size: 12px;
    font-weight: 500;
    color: #607D8B;
    text-align: left;
}
.label.info {
    margin: 8px auto 0px;
    color: #B0BEC5;
    letter-spacing: 0px;
}
.label.info span {
    color: #607D8B;
}
.label > .error {
    color: #E57373;
}


/*  Overrides   */
md-select {
    height: 44px;
    line-height: 44px;
    width: 80%;
    max-width: 500px;
    margin: 0px auto 0;
    padding: 0px 21px;
    color: #263238;
    font-size: 14px;
    text-align: left;
    border: 1px solid #CFD8DC;
    border-radius: 3px;
    background: transparent;
    outline: none;
    box-sizing: border-box;
    background: #F7F8F9;
}
md-select .md-select-value {
    height: 44px;
    line-height: 44px;
    padding: 0;
    border-bottom-width: 0px;
    box-sizing: border-box;
}
md-select.md-default-theme:not([disabled]):focus .md-select-value, 
md-select:not([disabled]):focus .md-select-value {
    color: inherit;
    border-bottom-color: transparent;
}

md-checkbox {
    display: block;
    width: 80vw;
    max-width: 500px;
    margin: 5px auto 5px;
    font-size: 12px;
    color: #607D8B;
}
md-checkbox .md-label {
    line-height: 16px;
    color: #607D8B;
    font-size: 12px;
    font-weight: 500;
    text-align: left;
}
md-checkbox .md-container {
    top: 0; 
    -webkit-transform: translateY(0); 
    transform: translateY(0); 
}
md-checkbox.md-default-theme.md-checked .md-icon, 
md-checkbox.md-checked .md-icon {
    background-color: #26A69A;
}
md-checkbox.md-default-theme.md-checked .md-ink-ripple,
md-checkbox.md-checked .md-ink-ripple {
    color: #26A69A;
}
md-checkbox:last-of-type {
    margin-left: auto;
    margin-right: auto;
}
</style>
