<div class="navbar">
    <a href="/">
        <div class="logo"></div>
    </a>
    <ul class="menu-items">
        <!-- <a href="#" target="_blank">
            <li>Download App</li>
        </a> -->
        <a href="/">
            <li>Sign Up</li>
        </a>
        <a href="/">
            <li>Log In</li>
        </a>
        <!-- <li ng-click="">Why Us</li> -->
        <!-- <li ng-click="">Why Invest</li> -->
        <!-- <a href="#whyus"><li>Why Us</li></a> -->
        <a href="//www.paisasavvy.com/pages/terms-and-conditions.html" target="_blank">
            <li>Terms</li>
        </a>
        <!-- <a href="mailto:hello@paisasavvy.com" target="_blank">
            <li>Contact Us</li>
        </a> -->
        <!-- <li> <span class="green-highlight" ng-click="data.showLogin=true">Sign In</span></li> -->
    </ul>
</div>
<div class="contentWrap">
    <h1>Frequently Asked Question</h1>
    <div class="accordian">
        <!-- ------------------------------------------------------------------------ -->
        <h2>Is it same as Bank Account?</h2>
        <div class="accordContent">
            No, It is not same as a Bank Account. Your money is parked in Reliance Treasury Fund.
            <br/><br/>
            You will not have the typical bank transfer facilities such as NEFT/IMPS/RTGS.
            <br/><br/>
            You can however instantly withdraw money into your own bank account or use the ATM card to make online payments and withdraw cash from any Bank’s ATM.
        </div>
        <h2>Will I be able to do NEFT/IMPS/RTGS money transfer?</h2>
        <div class="accordContent">
            No, this is not a bank account but a mutual fund.
            <br/><br/>
            However, when you need to do NEFT/IMPS/RTGS money transfer you can get money from <b>Smart Savings Account</b> to your primary bank account within 30 seconds via IMPS and after receiving money into your bank account you could do the NEFT/IMPS/RTGS money transfer. You can do this via logging into your PaisaSavvy account and selecting Instant-Withdraw option from the Dashboard.
        </div>
        <!-- ------------------------------------------------------------------------ -->
        <h2>Where does my money go?</h2>
        <div class="accordContent">
            <p>
                You money initially goes into <b>Reliance Liquid Fund - Treasury Plan.</b> 
                <br/>
                Reliance Liquid Fund - Treasury Plan had generated 6.6% annual return for the period of Jan-2017 to Dec-2017. And it has a solid track record of maintaining safety. In last four year Jan, 2014 to Dec, 2017 it has never generated a negative return or lost a single rupee for a single day. Such robust track record makes it a perfect alternative for Bank Savings Account.
                <br/>
                <br/> At the end of the month when your new salary comes and when you deposit new funds into your <b>Smart Savings Account</b> we'll auto invest your surplus amount from the previous month into few of the following schemes, based on your risk profile and risk preference.
                <ul>
                    <li>Reliance Liquid Fund - Cash Plan</li>
                    <li>Reliance Money Manager Fund</li>
                    <li>Reliance Arbitrage Advantage Fund</li>
                    <li>Reliance Banking Fund</li>
                    <li>Reliance Vision Fund</li>
                    <li>Reliance Regular Savings Fund - Balanced Option</li>
                    <li>Reliance Regular Savings Fund - Debt Option</li>
                    <li>Reliance Small Cap Fund</li>
                    <li>Reliance Index Fund - Nifty Plan</li>
                </ul>
            </p>
        </div>
        <!-- ------------------------------------------------------------------------ -->
        <h2>Is there any risk?</h2>
        <div class="accordContent">
            Yes, with Reliance Liquid Fund - Treasury Plan with your money will be at low risk.
            <br/><br/>
            <b>But</b>, the fund has a solid track record of maintaining safety. In last four years i.e. Jan, 2014 to Dec, 2017 it has never generated a negative return or lost a single rupee for a single day. Such robust track record makes it a perfect alternative for Bank Savings Account.
            <br/>
            Please note, past performance is not an indicator of future performance.
        </div>
        <!-- ------------------------------------------------------------------------ -->
        <h2>How long does it take to appear money in my account?</h2>
        <div class="accordContent">
            <p>Once you make an online transfer via debit card or net-banking, it'll take T+2 days i.e. two working days to process from the time you made a successful transfer. While your transaction is under process it will appear as an unsettled amount in 'My Account' page.</p>
            <p>Please note, while your transaction is under process you will not be able to make any withdrawal request. You will have to wait till it gets processed i.e. two working days.</p>
            <p>In such a case where even after two working days your transaction is not settled or processed please contact us at hello@PaisaSavvy.com or +91 9845 900942.</p>
        </div>
        <!-- ------------------------------------------------------------------------ -->
        <h2>Features of Reliance-cum-HDFC Debit Card</h2>
        <div class="accordContent">
            <ul class="bullet">
                <li>Cash withdrawal facility at Visa enabled ATMs and purchase transactions at merchant establishments just like a regular debit card in India.</li>
                <li>Daily Visa enabled ATM cash withdrawal limit of 50% of the balance or up to permissible limit determined by the bank or ₹ 50,000 whichever is lower</li>
                <li>Daily purchases limit of 50% of the balance or ₹ 100,000 whichever is lower </li>
                <li>Fuel surcharge waiver</li>
                <li>Free SMS and E-mail alerts on every transaction</li>
            </ul>
        </div>
        <!-- ------------------------------------------------------------------------ -->
        <h2>What are the benefits of the Reliance Any Time Money Card?</h2>
        <div class="accordContent">
            <ul class="bullet">
                <li>You get two benefits from the Reliance Any Time Money Card – 1. Your money is invested and 2. You have easy access to your money whenever you need it.</li>
                <li>From any Visa-powered ATM, you can.
                    <ul>
                        <li>Withdraw cash from your liquid money (i.e. not-invested)</li>
                        <li>Find out your investment balance</li>
                    </ul>
                </li>
                <li>From a HDFC Bank ATM, you can.
                    <ul>
                        <li>Withdraw cash from any eligible scheme linked to your card</li>
                        <li>Find out your investment balance</li>
                    </ul>
                </li>
                <li>From any Point of Sales (PoS) terminals, you can spend using your card. Your expenses will be withdrawn from your liquid money (i.e. not-invested).</li>
                <li>You can withdraw up to 50% of your investment or ₹ 50,000 per scheme per day, whichever is less. For instance, if you have invested₹ 100,000 in 6 schemes of Reliance Mutual Fund that are linked to your Card, you can withdraw up to ₹ 300,000 (₹ 50,000 per scheme multiplied by 6 schemes) or
                    <span class="rupeeSymbol">`<span>50% of your investments per day, whichever is less.</span></span>
                </li>
                <li>At POS, you can use your Reliance Any Time Money card for expenses up to 50% of your investments in your primary Reliance Mutual Fund schemes linked to your card or ₹ 100,000 per scheme per day, whichever is less.</li>
            </ul>​
        </div>
        <!-- ------------------------------------------------------------------------ -->
        <h2>What types of transactions can I make with my Reliance Any Time Money Card?</h2>
        <div class="accordContent">
            <p>You can undertake 3 types of transactions through your card:</p>
            <ul class="bullet">
                <li>ATM cash withdrawal</li>
                <li>ATM balance enquiry</li>
                <li>Purchase at merchant establishments [Card is accepted at over 1.6 lakh Visa-enabled ATMs and over 1 million merchant establishments in India (Source:
                    <a class="txtLinkStyle" target="_blank" href="http://www.visa.com/">www.visa.com</a>)
                </li>
            </ul>
            <img class="imgStyle" src="https://www.reliancemutual.com/InvestorServices/InvestorServiceImages/threesteps.png" alt="">
        </div>
        <!-- ------------------------------------------------------------------------ -->
        <h2>What transactions are available at HDFC Bank ATMs?</h2>
        <div class="accordContent">
            <p>You can withdraw cash or find out your investment balance in any Reliance Mutual Fund scheme linked to your card.</p>
            <p>
                <strong>a. Withdrawal:</strong>
                <br>Indicated below is the process of withdrawal using your card:</p>
            <ul class="bullet">
                <li>After entering the ATM PIN, select your scheme and plan linked to your card;</li>
                <li>Enter the amount you need to withdraw (make sure the amount is within your permissible withdrawal limit);</li>
                <li>Receive your money from the ATM dispensing slot.</li>
            </ul>
            <p>Here is an example to explain this process:</p>
            <p>Let’s say you have the following investments in schemes of Reliance Mutual Fund:</p>
            <table class="blueTable" cellspacing="0" cellpadding="5" border="1">
                <tbody>
                    <tr>
                        <th>Scheme Name</th>
                        <th>Balance in your investment account(in ₹ )</th>
                    </tr>
                    <tr>
                        <td>Reliance Liquid Fund - Treasury Plan, liquid money (i.e. not-invested)</td>
                        <td>
                            ₹ 20,000</td>
                    </tr>
                    <tr>
                        <td style="background: rgb(236, 235, 235);">Reliance Dynamic Bond Fund</td>
                        <td style="background: rgb(236, 235, 235);">
                            ₹ 20,000 </td>
                    </tr>
                    <tr>
                        <td>Reliance Income Fund</td>
                        <td>
                            ₹ 10,000 </td>
                    </tr>
                </tbody>
            </table>
            <p>Now let’s say that you want to withdraw ₹ 10,000 from your schemes through an ATM. Your transaction will go through since you have ₹ 20,000 in your liquid money (i.e. not-invested) i.e. the Reliance Liquid fund – Treasury Plan. Once this transaction is made, you will have exhausted your daily withdrawal limit of ₹ 10,000. In other words, you will not be able to undertake any purchases in any PoS transactions on that day. However, you have the option to withdraw ₹ 10,000 or ₹ 5,000 (subject to the limits mentioned in the key features) from your Reliance Dynamic Bond Fund or Reliance Income Fund investments respectively through any HDFC Bank ATM.</p>
            <p>
                <strong>b. Balance Enquiry:</strong>
                <br>Indicated below is the process of finding out the balance in your investment account using your Reliance Any Time Money card:</p>
            <ul class="bullet">
                <li>Visit any HDFC Bank ATM. After swiping your card use your 4 digit ATM PIN. All Reliance Mutual Fund schemes that you have invested in that are linked to your Card will be displayed;</li>
                <li>Select the scheme and plan for which you want to find out your investment balance and withdrawal balance.</li>
                <li>You will see your balance on clicking ‘Submit’.</li>
            </ul>
        </div>
        <!-- ------------------------------------------------------------------------ -->
        <h2>What can I do with my card at Non-HDFC ATMs?</h2>
        <div class="accordContent">
            <p>Indicated below is the process of withdrawal using your card:</p>
            <ul class="bullet">
                <li>You can withdraw only from your liquid money (i.e. not-invested) using your card;</li>
                <li>Enter the amount you need to withdraw (make sure the amount is within your permissible withdrawal limit);</li>
                <li>Receive your money from the ATM dispensing slot.</li>
            </ul>
            <p>Indicated below is the process of finding out the balance in your investment account using your Reliance Any Time Money card:</p>
            <ul class="bullet">
                <li>Visit any Visa-powered ATM. Only your liquid money (i.e. not-invested) linked to your card will be displayed;</li>
                <li>Select the scheme and plan for which you want to find out your investment balance and withdrawal balance;</li>
                <li>You will see your balance on clicking ‘Submit’.</li>
            </ul>
        </div>
        <!-- ------------------------------------------------------------------------ -->
        <h2>Are there any limits to instant withdrawal?</h2>
        <div class="accordContent">
            <p>Yes, the minimum instant withdrawal amount has to be greater than Rs.500 and maximum withdrawal amount is 90% of your total account balance or Rs.50,000 whichever is lower. </p>
            <p>Usually, instant withdrawal amount appears in your bank account, that is linked with PaisaSavvy, within few minutes but in some cases it might take an hour. </p>
        </div>
        <!-- ------------------------------------------------------------------------ -->
        <h2>Are there any limits to withdrawal?</h2>
        <div class="accordContent">
            <p>Yes, just like any other debit card, your card also has withdrawal limits.</p>
            <p>At the ATM: In a day, you can withdraw up to 50% of the deposit or liquid (i.e. not-invested) balance or ₹ 50,000, whichever is lower, from an ATM subject to a permissible limit fixed/ determined by the Bank. </p>
            <p>At POS: In a day, you can spend upto 50% of the deposit or liquid (i.e. not-invested) balance or ₹ 100,000, whichever is lower, at merchant outlets in India. </p>
            <img class="imgStyle" src="https://www.reliancemutual.com/InvestorServices/InvestorServiceImages/atmwidthdrawl.jpg" alt="">
        </div>
        <!-- ------------------------------------------------------------------------ -->
        <h2>What happens if my card is lost or damaged?</h2>
        <div class="accordContent">
            <p>In case you lose or damage your card, or your card is due for renewal, you can apply for a new card by filling up the application form. Please note: only one card per folio is valid at any point in time. </p>
        </div>
        <!-- ------------------------------------------------------------------------ -->
        <h2>Can I block my card if I lose it? </h2>
        <div class="accordContent">
            <p>If you need to block your card, you can call Reliance Mutual Fund 24-hour call centre at 1800 300 11111 and put in your request. Your card can be blocked permanently. </p>
        </div>
        <!-- ------------------------------------------------------------------------ -->
        <h2>Is it safe to use my card at a merchant?</h2>
        <div class="accordContent">
            <p>Now your POS transactions are more secure than ever! You have to insert your 4-digit ATM PIN at merchant establishments to authorize any transaction. </p>
        </div>
        <!-- ------------------------------------------------------------------------ -->
        <h2>Current schedule of Charges (as on 02nd September 2014)</h2>
        <div class="accordContent">
            <p>Indicated below are the charges levied on using your Reliance Any Time Money Card:</p>
            <table class="blueTable" cellspacing="0" cellpadding="5" border="1">
                <tbody>
                    <tr>
                        <th>Particulars</th>
                        <th>Limit</th>
                        <th>Charges</th>
                    </tr>
                    <tr>
                        <td>Cash Withdrawal</td>
                        <td>Up to 50% of the Balance* or ₹ 50,000, whichever is lower</td>
                        <td>Nil</td>
                    </tr>
                    <tr>
                        <td style="background: rgb(236, 235, 235);">Spending in PoS Terminals</td>
                        <td style="background: rgb(236, 235, 235);">Up to 50% of the Balance* or ₹ 100,000 </td>
                        <td style="background: rgb(236, 235, 235);">Nil</td>
                    </tr>
                    <tr>
                        <td colspan="2">Balance Enquiry</td>
                        <td>Nil</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="background: rgb(236, 235, 235);">Card Issuance Fee</td>
                        <td style="background: rgb(236, 235, 235);">Nil</td>
                    </tr>
                    <tr>
                        <td colspan="2">Annual Fee</td>
                        <td>Nil</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="background: rgb(236, 235, 235);">Re-issuance of Lost Card</td>
                        <td style="background: rgb(236, 235, 235);">Nil</td>
                    </tr>
                    <tr>
                        <td colspan="2">Re-issuance of Lost PIN</td>
                        <td>Nil</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="background: rgb(236, 235, 235);">Hotlisting of Card</td>
                        <td style="background: rgb(236, 235, 235);">Nil</td>
                    </tr>
                </tbody>
            </table>
            <p>* Cash withdrawal at Visa-powered ATMs (other than HDFC) / PoS usage amount will be debited from the liquid money (i.e. not-invested). </p>
            <p># Service tax is currently charged at 12.36% and it is subject to change</p>
        </div>
    </div>
</div>
<style type="text/css">
@import url("styles/landing-page.css");

html {
    height: 100%;
    width: 100%;
    background-color: #F5F6FA;
    background-color: #FFFFFF;
}

body {
    margin: 89px 0px 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    min-width: 800px;
    font-family: Raleway, 'Open Sans', Helvetica, Tahoma, Verdana, Arial, sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    font-variant-ligatures: no-common-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "lnum" 1, "salt" 0;
    -webkit-font-feature-settings: "lnum" 1, "salt" 0;
    letter-spacing: .8px;
    background-color: transparent;
}

body>.ng-scope {
    position: relative;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
    color: #2196F3;
    cursor: pointer;
}

a.disabled {
    opacity: .34;
    pointer-events: none;
}

.navbar {
    position: relative;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 55px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    background-color: rgba(255, 255, 255, .92);
    z-index: 1;
    overflow: hidden;
}

.navbar .logo {
    display: inline-block;
    margin-left: 60px;
    height: 60px;
    width: 100px;
    background-image: url(assets/logo-100px-E91E63.png);
    background-repeat: no-repeat;
    background-position: left center;
    vertical-align: middle;
    opacity: .7;
}

.navbar .menu-items {
    position: absolute;
    display: block;
    top: 60px;
    right: 0px;
    width: 300px;
    height: 55px;
    line-height: 55px;
    margin: -60px auto 0;
    padding: 0;
    list-style-type: none;
    vertical-align: middle;
}

.navbar .menu-items li {
    float: left;
    margin: 0px 10px;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .34px;
    color: #2196F3;
    color: #1976D2;
    color: #212121;
    color: #E91E63;
    cursor: pointer;
    outline: none;
}

.navbar .menu-items li:hover {
    color: #212121;
}

.contentWrap {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    box-sizing: border-box;
}

.contentWrap>.accordian>h2 {
    border-top: 1px solid #ccc;
    padding: 34px 13px 13px;
    margin: 34px 0px 0px;
}

.accordContent {
    padding: 0px 34px;
}
</style>